body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #020617;
  }
  
  nav a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
  }
  
  .hero {
    text-align: center;
    padding: 60px 20px;
  }
  
  .hero button {
    padding: 10px 20px;
    background: #2563eb;
    border: none;
    color: white;
  }
  
  section {
    padding: 40px 20px;
  }
  
  .skills div {
    display: inline-block;
    background: #1e293b;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .card {
    background: #1e293b;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background: #020617;
  }